
%main-title {
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
}

%acrom-bold {
  font-family: "acrom-bold", sans-serif;
  font-weight: 700;
}

%acrom-extrabold {
  font-family: "acrom-extrabold", sans-serif;
  font-weight: 800;
}

%acrom-light {
  font-family: "acrom-light", sans-serif;
  font-weight: 300;
  }
  
%Acrom-Medium {
  font-family: "Acrom-Medium", sans-serif;
  font-weight: 500;
}
%Acrom-Regular {
  font-family: "Acrom-Regular", sans-serif;
  font-weight: 400;
}
 